body {
	background-color: rgb(249, 248, 252);
}

h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 4rem;
	text-align: center;
	text-shadow: 0.1rem 0.1rem 0.1rem rgba(128, 128, 128, 0.103);
}

h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 2rem;
	text-align: center;
	text-shadow: 0.05rem 0.05rem 0.05rem rgba(128, 128, 128, 0.034);
}

h3 {
	font-family: "Courier New", Courier, monospace;
	font-size: 1.8rem;
	text-align: center;
	margin-left: 1.5rem;
	padding-bottom: 0.5rem;
	padding-top: 0.5rem;
}

h4.method {
    margin-left: 25%;
    margin-right: 25%;
    padding-top: 1rem;
	padding-bottom: 1rem;
}

div h4 {
	font-family: "Courier New", Courier, monospace;
	font-size: 1.2rem;
	padding-bottom: 0.5rem;
	padding-top: 0.5rem;
    margin-left: 4rem;
    margin-right: 4rem;
}

span.hilight {
	background-color: gold;
	padding: 5px;
}

span.type {
	color: gold;
	font-style: italic;
}

p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1rem;
	margin-left: 4rem;
    margin-right: 4rem;
	padding-bottom: 1rem;
	overflow-wrap: break-word;
}

div li {
	font-family: "Courier New", Courier, monospace;
    margin-left: 4rem;
    margin-right: 4rem;
}

pre.code_snippet {
	font-family: "Courier New", Courier, monospace;
	font-size: 0.8rem;
	color: aliceblue;
	white-space: pre-wrap; 
	overflow-wrap: break-word; 
	padding: 0.5rem 1rem; 
	margin: 0; 
	line-height: 1.5;
}

div.code_block {
	padding-top: 1rem;
	padding-bottom: 1rem;
    margin-left: 4rem;
    margin-right: 4rem;
	border-radius: 0.66rem;
	background-color: black;
}

div.method_description {
    font-family: Arial, Helvetica, sans-serif;
	font-size: 1rem;
	margin-left: 25%;
    margin-right: 25%;
    padding-top: 1rem;
	padding-bottom: 3rem;
    border-radius: 0.66rem;
    background-color:rgb(218, 209, 201);
}
